<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Estructuras de Datos: Fundamentos y Aplicaciones</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Estructuras de Datos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Nuestro Microservicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Microservicios</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Tu lugar de estructura de datos</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">¡Te damos la bienvenida a G.A.S web! Aquí encontrarás un espacio dedicado a explorar la implementación de microservicios de estructuras de datos. Nuestro enfoque se basa en la arquitectura de microservicios, destacando la utilización de tecnologías como FastAPI, DigitalOcean y Jinja2.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Saber mas</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">¿Qué son las Estructuras de Datos?</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Las estructuras de datos son elementos fundamentales en el mundo de la programación y la informática. En términos simples, una estructura de datos se refiere a la forma en que se organizan y almacenan los datos en un sistema informático para permitir su manipulación, manejo y acceso eficientes. Imagina una biblioteca: los libros se organizan en estantes, clasificados por género, autor o tema. Esta organización facilita la búsqueda y recuperación de libros específicos. De manera similar, en informática, las estructuras de datos proporcionan un marco para organizar y almacenar datos de manera lógica y eficiente, lo que facilita su manejo y manipulación.</p>
                        <a class="btn btn-light btn-xl" href="#services">Nuestros microservicios</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Nuestro Microservicio</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Diversidad de Funcionalidades</h3>
                            <p class="text-muted mb-0">Explora varios microservicios que ofrecen funcionalidades como búsqueda de palabras, detección de números repetidos, ordenamiento de listas y operaciones con árboles binarios.!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Actualizado Constantemente</h3>
                            <p class="text-muted mb-0">Mantenemos nuestros microservicios al día con las últimas tecnologías para garantizar su eficiencia y seguridad.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Listos para su Implementación</h3>
                            <p class="text-muted mb-0">Estos microservicios están preparados para ser implementados en tus proyectos, ya sea tal como están o personalizados según tus necesidades.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Desarrollados con Pasión</h3>
                            <p class="text-muted mb-0">Cada microservicio ha sido creado con dedicación y compromiso, reflejando nuestro amor por la programación y la innovación tecnológica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/II1.jpg" title="Indices Invertidos" data-target="indices-invertidos.html"><img class="img-fluid" src="assets/img/portfolio/thumbnails/II1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Indices Invertidos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/MergeS.jpg" title="Merge Sort">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/MergeS.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Merge Sort</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/ArbolB.jpg" title="Arbol Binario">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/ArbolB.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Arbol Binario</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/Grafos.jpg" title="Grafos">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/Grafos.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Grafos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/SQS.jpg" title="SQS">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/SQS.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">SQS</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/tensores.jpg" title="Tensores en Estructuras de Datos">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/tensores.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Tensores en Estructuras de Datos</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - G.A.S Company</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
